/* Empty. Add your own CSS if you like */
.app-icon {
    background-color: #fff;
    background: url('../img/headnode.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}
.btn1 {
	background:transparent;
	border:1px solid white;
}

h1 {
    color: white;
    text-shadow: 2px 1px 2px #ffffff;
    font-size: 42px;
	text-align: center;
	font-family:Palatino Linotype;
	font-weight: bold;
}

h2 {
    color: white;
	text-align: center;
	font-family:Palatino Linotype;
	font-weight: bold;
}

button.btnsub{
	border-radius:50px;
}
/*.button-block {
		  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 15px;
  box-shadow: 0 9px #999;
	 }*/
option{
	background:#62b5e5;
}
.tabs,.tabs-striped{
	border-bottom-color:#e3701a;
	background-color:transparent;
	color:#e3701a;
}


.tabClr
{
color: 	#e3701a;
}



.input-label {
    color: #ffffff;

     }
/*	 
input.ic {
		color: white;
		}
	*/	
button.btn2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e3701a;
  border: px solid #999;
  border-radius:;
  
}


button.btn3 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#59d66a ;
  border: 0px solid #999;
  border-radius: 15px;
  
}
.btn4 {
  display: inline-block;
  padding:
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#59d66a ;
  border: 0px solid #999;
  border-radius: 15px;
  
}
button.btn2:hover {
background-color: #a1ede8;
}

button.btn2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.header .col {
  background:transparent;
}

.col-30,.col-60,.col-15{
  font-size:14px;
  color:orange;
  font-family: 'Lato', sans-serif;
  border-bottom:solid 1px orange;
  
}
.rowhead{
	background:blue;
}

.col-90,.col-15{

  border-bottom: solid 1px white;
  border-right-style: none;
  font-size:12px;
  color:white;
  text-align:middle;
}
.col-19,.col-39,.col-9{
	height:50px;
	text-align:center;
	border-bottom: solid 1px orange;
  border-bottom-style: solid 1px white;
  border-right-style: none;
  font-size:14px;
  color:orange;
  text-align:center;
}
.rw{
	background:#2e4738;
	font-size:24px;
}
.rwdata{

}
.item{
	background:transparent;
}
option{
	background:#08160d;
	font-size:14px;
	color:white;
}
.bar-header{
	margin-bottom:40px;
	padiing bottom:50px;
}
h2.hone{
	font-size:25px;
	color:#e21818;
	text-align:center;
	padding:none;
	text-shadow: 0px 1px black;
}
placeholder{
	color:black;
}
